<h2>Regression Model with Keras</h2>
<h3>Final peer graded Assignment</h3>

In [1]:
import pandas as pd 
import numpy as np

I will be using the same dataset provided in the Assignment.

<strong>The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:</strong>

<strong>1. Cement</strong>

<strong>2. Blast Furnace Slag</strong>

<strong>3. Fly Ash</strong>

<strong>4. Water</strong>

<strong>5. Superplasticizer</strong>

<strong>6. Coarse Aggregate</strong>

<strong>7. Fine Aggregate</strong>

In [2]:
concrete_data = pd.read_csv('concrete_data.csv')
concrete_data.head(3)

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27

#### Let's check how many data points we have.

In [3]:
concrete_data.shape

(1030, 9)

let's see if we have any missing values

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data is Clean so lets bulid our model

In [6]:
concrete_data_cols = concrete_data.columns
concrete_data_cols

Index(['Cement', 'Blast Furnace Slag', 'Fly Ash', 'Water', 'Superplasticizer',
       'Coarse Aggregate', 'Fine Aggregate', 'Age', 'Strength'],
      dtype='object')

In [7]:
predictors = concrete_data[concrete_data_cols[concrete_data_cols != 'Strength']]  #ALL COLUMNS EXCEPT THE STENGTH COLUMN
target = concrete_data['Strength'] # THE STRENGTH COLUMN

In [8]:
predictors.head(3)

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270

In [9]:
target.head(3)

0    79.99
1    61.89
2    40.27
Name: Strength, dtype: float64

Lets see the No of cols predictors have

In [10]:
n_cols = predictors.shape[1]
n_cols

8

Lets import the Keras library and other packages from Keras library

In [11]:
import keras
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

Now Lets bulild the neural network

In [12]:
def regression_model():
    model = Sequential()
    model.add(Dense(50,activation = 'relu', input_shape = (n_cols,)))
    model.add(Dense(50 , activation = 'relu'))
    model.add(Dense(1))
    
    model.compile(optimizer = 'adam', loss = 'mean_squared_error')
    return model

The above function create a model that has two hidden layers, each of 50 hidden units.

## Train and Test Split from Sklearn

In [13]:
from sklearn.model_selection import train_test_split

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/sklearn/utils/validation.py:37: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  LARGE_SPARSE_SUPPORTED = LooseVersion(scipy_version) >= '0.14.0'

Splitting the data into a training and test sets by holding 30% of the data for testing

In [14]:
X_train, X_test , y_train , y_test = train_test_split(predictors, target, random_state = 4, test_size = 0.3)

Let's call the function now to create our model.

In [15]:
model = regression_model()

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:68: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:508: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:3837: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/optimizers.py:757: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Next, we will train and test the model at the same time using the *fit* method. We will leave out 30% of the data for validation and we will train the model for 100 epochs.

In [16]:
model.fit(X_train, y_train , validation_split = 0.3 , epochs = 50 , verbose = 1)

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:977: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:964: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

Train on 504 samples, validate on 217 samples
Epoch 1/50

2022-08-26 13:52:07.344010: I tensorflow/core/platform/cpu_feature_guard.cc:142] Your CPU supports instructions that this TensorFlow binary was not compiled to use: SSE4.1 SSE4.2 AVX AVX2 AVX512F FMA
2022-08-26 13:52:07.366430: I tensorflow/core/platform/profile_utils/cpu_utils.cc:94] CPU Frequency: 2593900000 Hz
2022-08-26 13:52:07.367304: I tensorflow/compiler/xla/service/service.cc:168] XLA service 0x558e9f32b530 executing computations on platform Host. Devices:
2022-08-26 13:52:07.367370: I tensorflow/compiler/xla/service/service.cc:175]   StreamExecutor device (0): <undefined>, <undefined>

504/504 [==============================] - 0s 904us/step - loss: 361.4622 - val_loss: 153.5498

2022-08-26 13:52:07.583695: W tensorflow/compiler/jit/mark_for_compilation_pass.cc:1412] (One-time warning): Not using XLA:CPU for cluster because envvar TF_XLA_FLAGS=--tf_xla_cpu_global_jit was not set.  If you want XLA:CPU, either set that envvar, or use experimental_jit_scope to enable XLA:CPU.  To confirm that XLA is active, pass --vmodule=xla_compilation_cache=1 (as a proper command-line flag, not via TF_XLA_FLAGS) or set the envvar XLA_FLAGS=--xla_hlo_profile.

Epoch 2/50
504/504 [==============================] - 0s 124us/step - loss: 147.7429 - val_loss: 133.1379
Epoch 3/50
504/504 [==============================] - 0s 123us/step - loss: 120.9665 - val_loss: 124.7403
Epoch 4/50
504/504 [==============================] - 0s 134us/step - loss: 108.8185 - val_loss: 108.9918
Epoch 5/50
504/504 [==============================] - 0s 206us/step - loss: 99.2494 - val_loss: 99.5577
Epoch 6/50
504/504 [==============================] - 0s 246us/step - loss: 93.4424 - val_loss: 95.3536
Epoch 7/50
504/504 [==============================] - 0s 266us/step - loss: 90.4659 - val_loss: 104.7115
Epoch 8/50
504/504 [==============================] - 0s 212us/step - loss: 81.1818 - val_loss: 90.0952
Epoch 9/50
504/504 [==============================] - 0s 199us/step - loss: 81.8534 - val_loss: 82.1895
Epoch 10/50
504/504 [==============================] - 0s 168us/step - loss: 80.1240 - val_loss: 86.4564
Epoch 11/50
504/504 [==============================] - 0s 146us/step - loss: 84.4040 - val_loss: 78.8247
Epoch 12/50
504/504 [==============================] - 0s 120us/step - loss: 89.5897 - val_loss: 99.6789
Epoch 13/50
504/504 [==============================] - 0s 116us/step - loss: 82.3739 - val_loss: 108.6968
Epoch 14/50
504/504 [==============================] - 0s 117us/step - loss: 76.3564 - val_loss: 87.5858
Epoch 15/50
504/504 [==============================] - 0s 116us/step - loss: 73.5224 - val_loss: 72.0962
Epoch 16/50
504/504 [==============================] - 0s 117us/step - loss: 68.4565 - val_loss: 92.8087
Epoch 17/50
504/504 [==============================] - 0s 122us/step - loss: 65.9735 - val_loss: 73.3213
Epoch 18/50
504/504 [==============================] - 0s 121us/step - loss: 66.5996 - val_loss: 71.6026
Epoch 19/50
504/504 [==============================] - 0s 110us/step - loss: 74.6885 - val_loss: 67.1708
Epoch 20/50
504/504 [==============================] - 0s 92us/step - loss: 64.1492 - val_loss: 66.9124
Epoch 21/50
504/504 [==============================] - 0s 111us/step - loss: 59.5310 - val_loss: 67.8711
Epoch 22/50
504/504 [==============================] - 0s 116us/step - loss: 59.4646 - val_loss: 74.7421
Epoch 23/50
504/504 [==============================] - 0s 116us/step - loss: 58.0022 - val_loss: 66.0185
Epoch 24/50
504/504 [==============================] - 0s 114us/step - loss: 58.1731 - val_loss: 65.6123
Epoch 25/50
504/504 [==============================] - 0s 119us/step - loss: 59.1059 - val_loss: 63.8146
Epoch 26/50
504/504 [==============================] - 0s 113us/step - loss: 59.7599 - val_loss: 64.1359
Epoch 27/50
504/504 [==============================] - 0s 117us/step - loss: 59.7893 - val_loss: 62.1899
Epoch 28/50
504/504 [==============================] - 0s 92us/step - loss: 55.7722 - val_loss: 69.8671
Epoch 29/50
504/504 [==============================] - 0s 113us/step - loss: 54.6201 - val_loss: 62.7904
Epoch 30/50
504/504 [==============================] - 0s 117us/step - loss: 64.3601 - val_loss: 68.0787
Epoch 31/50
504/504 [==============================] - 0s 122us/step - loss: 57.6289 - val_loss: 78.1124
Epoch 32/50
504/504 [==============================] - 0s 110us/step - loss: 62.8512 - val_loss: 61.7742
Epoch 33/50
504/504 [==============================] - 0s 121us/step - loss: 54.4630 - val_loss: 61.3485
Epoch 34/50
504/504 [==============================] - 0s 117us/step - loss: 56.7550 - val_loss: 65.9910
Epoch 35/50
504/504 [==============================] - 0s 118us/step - loss: 67.7045 - val_loss: 72.5670
Epoch 36/50
504/504 [==============================] - 0s 118us/step - loss: 60.6549 - val_loss: 66.0479
Epoch 37/50
504/504 [==============================] - 0s 115us/step - loss: 54.2427 - val_loss: 62.4140
Epoch 38/50
504/504 [==============================] - 0s 123us/step - loss: 53.3934 - val_loss: 64.0036
Epoch 39/50
504/504 [==============================] - 0s 147us/step - loss: 52.6880 - val_loss: 76.1582
Epoch 40/50
504/504 [==============================] - 0s 111us/step - loss: 51.5128 - val_loss: 58.0443
Epoch 41/50
504/504 [==============================] - 0s 93us/step - loss: 51.1585 - val_loss: 57.3961
Epoch 42/50
504/504 [==============================] - 0s 114us/step - loss: 49.6402 - val_loss: 107.9315
Epoch 43/50
504/504 [==============================] - 0s 114us/step - loss: 61.9028 - val_loss: 72.1287
Epoch 44/50
504/504 [==============================] - 0s 120us/step - loss: 55.6318 - val_loss: 59.6394
Epoch 45/50
504/504 [==============================] - 0s 117us/step - loss: 60.4501 - val_loss: 75.2583
Epoch 46/50
504/504 [==============================] - 0s 118us/step - loss: 57.4241 - val_loss: 70.8608
Epoch 47/50
504/504 [==============================] - 0s 116us/step - loss: 57.8911 - val_loss: 66.9171
Epoch 48/50
504/504 [==============================] - 0s 117us/step - loss: 52.0904 - val_loss: 66.3470
Epoch 49/50
504/504 [==============================] - 0s 152us/step - loss: 49.5213 - val_loss: 55.0739
Epoch 50/50
504/504 [==============================] - 0s 122us/step - loss: 47.7630 - val_loss: 55.0719

let's evaluate the model on test data

In [17]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 46us/step

56.007336020855455

Now we need to compute the mean squared error between the predicted concrete strength and the actual concrete strength.

Let's import the mean_squared_error function from Scikit-learn.

In [18]:
from sklearn.metrics import mean_squared_error

In [19]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
mean

56.007335472400044

In [20]:
stdv = np.std(mean_square_error)
stdv

0.0

Create a list of 50 mean squared errors and report mean and the standard deviation of the mean squared errors.

In [21]:

mean_squared_errors = list()
total_mean_square_errors = 50 
epochs = 50
for i in range(0, total_mean_square_errors):
    X_train, X_test , y_train , y_test = train_test_split(predictors, target, random_state = i, test_size = 0.3) 
    model.fit(X_train, y_train , validation_split = 0.3 , epochs = epochs , verbose = 0)
    MSE = model.evaluate(X_test, y_test, verbose = 0)
    print("MSE: "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

MSE: 1: 50.60162437463656
MSE: 2: 57.41896821302889
MSE: 3: 39.93113815900192
MSE: 4: 35.51049256556242
MSE: 5: 31.420360849127416
MSE: 6: 32.61778876542274
MSE: 7: 32.99858759907843
MSE: 8: 26.017011741218443
MSE: 9: 42.44207800707771
MSE: 10: 28.66750970858972
MSE: 11: 32.65300791471907
MSE: 12: 22.020242493515262
MSE: 13: 41.73900904238803
MSE: 14: 29.905015914571322
MSE: 15: 26.877096663786755
MSE: 16: 22.794898986816406
MSE: 17: 25.46927657636624
MSE: 18: 26.970497010980996
MSE: 19: 23.843159974971634
MSE: 20: 26.330550011693468
MSE: 21: 23.77746933254995
MSE: 22: 20.56976985622764
MSE: 23: 19.476850176320493
MSE: 24: 22.851651916997717
MSE: 25: 25.907786995847633
MSE: 26: 25.779620642800932
MSE: 27: 22.297190996435468
MSE: 28: 21.748051115610068
MSE: 29: 28.903832759672
MSE: 30: 19.204561029823083
MSE: 31: 20.69127698237842
MSE: 32: 28.2792323276063
MSE: 33: 14.97818055199188
MSE: 34: 21.18544728547624
MSE: 35: 18.473531784748953
MSE: 36: 21.21547198064119
MSE: 37: 22.41068312573973
MSE: 38: 21.758792352522075
MSE: 39: 21.3001467325155
MSE: 40: 16.08739706613485
MSE: 41: 16.211434256297483
MSE: 42: 20.29675039272864
MSE: 43: 17.034592721068744
MSE: 44: 19.6295174780787
MSE: 45: 20.309668099610164
MSE: 46: 17.794436081327667
MSE: 47: 22.402601828467112
MSE: 48: 16.493890990717126
MSE: 49: 17.63909289289061
MSE: 50: 17.48657990119218

In [22]:
print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_square_errors) + " mean squared errors without normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

Below is the mean and standard deviation of 50 mean squared errors without normalized data. Total number of epochs for each training is: 50

Mean: 25.568476215626156
Standard Deviation: 8.699613866363391